*.glob
*.vo

0-README.*
book/*-orig
book/*-repeat

book/CPDT*

book/SF-2013-07-18-worked/x07MoreProp.v
book/SF-2013-07-18-worked/x08Logic.v
book/SF-2013-07-18-worked/x09ProofObjects.v
book/SF-2013-07-18-worked/x10MoreInd.v
book/SF-2013-07-18-worked/x11SfLib.v
book/SF-2013-07-18-worked/x12Imp.v
book/SF-2013-07-18-worked/x13ImpParser.v
book/SF-2013-07-18-worked/x14ImpCEvalFun.v
book/SF-2013-07-18-worked/x15Extraction.v
book/SF-2013-07-18-worked/x16Equiv.v
book/SF-2013-07-18-worked/x17Hoare.v
book/SF-2013-07-18-worked/x18Hoare2.v

course/
