dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
.stack-work

0Notes*.org
0Review.org

book/Beginning_Haskell/.Notes.org
book/Beginning_Haskell/Beginning_Haskell.epub
book/Beginning_Haskell/Beginning_Haskell.mobi
book/Beginning_Haskell/Beginning_Haskell.pdf
book/Beginning_Haskell/eclipse-workspace

book/Discrete_Mathematics_Using_a_Computer

book/Haskell_Financial_Data_Modeling/
book/Haskell_Programming-Chris_Allen/
book/Haskell_Road_to_Logic_Maths_and_Programming

book/Learn_You_a_Haskell/helloworld
book/Learn_You_a_Haskell/l.hs

book/Parallel_and_Concurrent
book/Pearls_of_Functional_Algorithm_Design-Richard_Bird.pdf

book/Real_World_Haskell/InteractWith
book/Real_World_Haskell/r.hs
book/Real_World_Haskell/Real_World_Haskell.html

book/Theorem_Provers_as_Libraries-Evan_Austin/

book/The_Fun_of_Programming

book/Yesod

course/coursera-fp-odersky-but-in-haskell/TAGS

diagrams/

example/

interview/target

paper/HaskellCheatSheet.pdf
paper/History_of_Haskell-Hudak-Hughes-Peyton-Jones-Wadler.pdf
paper/Ralf_Hinze-Generic_Programming_Extension_for_Haskell.ps
paper/Ralf_Hinze-Generic_Programs_and_Proofs.ps
paper/SimonPJ-Tackling_the_Awkward_Squad.pdf
paper/designing_typesafe_haskell_apis-Snoyman.pdf
paper/fpcomplete/UserTelBasicLensing.h*
paper/fpcomplete/UserTelBasicLensing.md

paper/haskell-distributed/

paper/haskellwiki/.ghci
paper/jekor.com/

paper/monad-reader/issue22/gadt.hs-save
paper/monad-reader/issue22/issue22.pdf
paper/monad-reader/issue22/r.hs
paper/newartisans.com/RCS/
paper/twoDznA.pdf
paper/twoDznQ.pdf

paper/wikibooks-haskell/.ghci
paper/wikibooks-haskell/scheme-in-48/stdlib.scm
