dist
dist-newstyle
cabal-dev
cabal.sandbox.config
*.o
*.hi
*.chi
*.chs.h
.virthualenv
.stack-work
0-CONFERENCES-TO-SUBMIT.org
0-TODO-GITIGNORE
group-like-structures.png
haskell-variables-by-trupil.jpg
RCS
TAGS

