.ghci
class-hierarchy.html
class-hierarchy.png
Setup.lhs
projects
share
src/Course/*_flymake.hs
src/Course/Anagrams.hs
src/Course/Cheque.hs
src/Course/Compose.hs
src/Course/FastAnagrams.hs
src/Course/HC.html
src/Course/Interactive.hs
src/Course/JsonParser.hs
src/Course/JsonValue.hs
src/Course/ListZipper.hs
src/Course/MoreParser.hs
src/Course/Parser.hs
src/Course/Person.hs
src/Course/Traversable.hs
src/Course-ordered
test