# Created       : 2013 Aug 24 (Sat) 15:05:15 by carr.
# Last Modified : 2017 Jan 10 (Tue) 14:32:34 by Harold Carr.

*~

TAGS

*_flymake.*

.DS_Store
.DS_Store?

*.pdf
**/dist

# ------------------------------------------------------------------------------
# STACK / HASKELL

.stack-work

# ------------------------------------------------------------------------------
# ECLIPSE

.dist-buildwrapper
.metadata
.project
.settings

# ------------------------------------------------------------------------------
# IDRIS

*.ibc

# ------------------------------------------------------------------------------

erlang
f-sharp
forth
foundations
functional-programming
icfp
java
javascript
lisp
ml
oz
perl
python
ruby
scala
sterling-raw-latex

# End of file.
