.ghci
class-hierarchy.png
README.markdown
Setup.lhs
projects
share
src/Course/*_flymake.hs
src/Course/Anagrams.hs
src/Course/Cheque.hs
src/Course/Compose.hs
src/Course/Core.hs
src/Course/FastAnagrams.hs
src/Course/FileIO.hs
src/Course/HC.hs
src/Course/HC.html
src/Course/Id.hs
src/Course/Interactive.hs
src/Course/JsonParser.hs
src/Course/JsonValue.hs
src/Course/ListZipper.hs
src/Course/Monad.hs
src/Course/MoreParser.hs
src/Course/Parser.hs
src/Course/Person.hs
src/Course/Traversable.hs
src/Course/Validation.hs
test