RCS/
.ghci
0-Notes.org
2013-12-15-concrete-monads-1-maybe-either-list-io.hs
2013-12-15-concrete-monads-1-maybe-either-list-io.html
graphviz/2014-02-28-using-graphviz-via-haskell/2014-02-28-using-graphviz-via-haskell.hs
graphviz/2014-02-28-using-graphviz-via-haskell/2014-02-28-using-graphviz-via-haskell.html
